@import 'normalise.scss';
@import 'base.scss';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: $text;
	font-family: Raleway,'Open Sans', sans-serif;
}

h1 {
	font-weight: 100;
	font-size: 3.998em;
}

h2 {
	font-weight: 100;
	font-size: 3.157em;
}

h3 {
	font-size: 1.777em;
	font-weight: 100;
}

p {
	font-size: 1em;
}

a {
	color: $accent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 10px 10px 7px;
}

.btn, button {
	background: $action;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: 800;
	padding: 10px 51px 7px;
	color: #FFF;
	letter-spacing: 1px;
	border: solid 2px $action;
	@include trans();
	&:hover {
		background: $action - 30;
		border-color: $action - 30;
	}
}

.btn-text {
	@extend .btn;
	background: transparent;
}

.btn-primary {
	@extend .btn;
	background: $accent;
	border: solid 2px $accent;
	&:hover {
		background: $accent - 30;
		border-color: $accent - 30;
	}
}

.header {
	background: $navbg;
	color: $text;
	position: relative;
	z-index: 10;
	height: $headerheight;
	padding: 5px 5%;
	display: flex;
	justify-content: space-between;
	@include card(1);
	a {
		color: $navtext;
		font-weight: bolder;
	}
	.site-title {
		line-height: 0;
		margin: 0;
	}
}

.site-title{
	a{
		img{
			max-height: $headerheight - 8;
		}
	}
}

.nav {
	ul {
		list-style: none;
		display: flex;
		padding: 0;
		margin-top: $headerheight/6;
	}
	li{
		&:hover{
			background: $navhover;
			border-radius: 2px;
		}
	}
	li + li {
		margin-left: 20px;
	}
	a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
		&:hover{
			color:$navbg;
		}
	}
	.menu-drop{
		color: $navtext;
		cursor: pointer;
		margin-top: 5px;
	}
	select, .menu-drop {
		display: none;
	}
	#login-buttons{
			margin-left: 20px;
		}
	#login-dropdown-list{
		left:-100px;
		top: 50px;
	}
	@media screen and (max-width: $small) {
		font-size: 1em;
		li + li {
			margin-left: 15px;
		}
		ul{
			display:none;
		}
		select{
			display:inline-block;
		}
		.menu-drop{
			display:inline-block;
			float: right;
		}
		#login-dropdown-list{
			width: 200px;
			left: -97px;
			top: 35px;
		}
		.show-menu{
			display:block;
			background: $navbg;
			margin-top: $navheight - 10px;
			width: 100%;
			padding: 10px;
			li{
				width: 100%;
				padding: 5px;
			}
			li + li {
				margin:0;
			}
		}
	}
}
.job-list{
	width:100%;
	display:inline-block;
	.job{
		display:inline-block;
		width: 300px;
		height: 150px;
		margin:10px;
		padding:5px;
		text-align: center;
		font-weight: bolder;
		border-radius: 3px;
		@include card(2);
		&:hover{
			background: $navhover;
		}
		a{
			text-decoration: none;
			color: $text;
		}
	}
}
.new-job-container{
	z-index: 9;
	display:none;
	margin:20px;
	padding: 10px;
	width: 95%;
	@include card(2);
	&.open{
		display:inline-block;
		.fa-close{
			float:right;
		}
		.new-job-form{
			display:inline-block;
			width:100%;
			.form-group{
				display:inline-block;
				width:220px;
				.form-control{
					padding: 6px 10px;
				}
				.help-block{
					font-style:italic;
					font-weight:bold;
					font-size: 0.7em;
					color:#b55;
				}
			}
			.new-job-btn{
				float:right;
				margin: 10px;
			}
		}
	}
	@media screen and (max-width: $small) {
		margin:5px;
	}
}

.fa-plus-square{
	display:block;
	float:right;
	margin:20px;
	&:hover{
		color: $green;
	}
	&.open{
		display:none;
	}
}

.login, .logout {
    cursor: pointer;
    font-family: Raleway,'Open Sans', sans-serif;
    color: $navtext;
    text-decoration: none;
    font-weight: bolder;
    &:hover{
		color:$navbg;
	}
}

.login-modal{
	display:none;
	width:500px;
	padding:10px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	@media screen and (max-width: $small) {
		width:100%;
	}
	&.open{
		display:block;
		@include card(2);
	}
}

.billboard{
	background: white;
	border-bottom: 1px solid $dgrey;
	color: $text;
	position: relative;
	font-size: 0.8em;
	text-align: center;
	padding: 10px;
	z-index: 3;
	h2{
		margin: 0;
	}
}

.btn, button{
	display: inline-block;
	cursor: pointer;
	background: $dblue;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	border: solid 3px $dblue;
	border-radius: 2px;
	font-weight: 800;
	@include shadow-level(1);
	@include trans();
	&:hover{
		background: $blue;
		border-color: $blue;
		@include shadow-level(2);
	}
	&.btn-primary{
		background: $grey;
		border-color: $dgrey;
		color: $black;
		&:hover{
			background: $dgrey;
			border-color: $dgrey;
		}
	}
	&.btn-deny{
		background: $red;
		border: solid 3px $red;
		&:hover{
			background: $dred;
			border-color: $dred;
		}
	}
	&.btn-text{
		color: $black;
		background: transparent;
		border: solid 2px $dgrey;
		@include shadow-level(0);
		&:hover{
			background: $dblue;
			border-color: $dblue;
			@include shadow-level(1);
		}
	}
	&.btn-text-dark{
		color: #FFF;
		background: transparent;
		border: solid 2px #FFF;
		@include shadow-level(0);
		&:hover{
			background: #FFF;
			color: $dblue;
			border-color: $dblue;
			@include shadow-level(1);
		}
	}
	&.btn-confirmation{
		color: $black;
		background: $green;
		border: solid 2px $navbg;
		&:hover{
			background: $navbg;
			border-color: $dblue;
		}
	}
	&.btn-cancel{
		color: #FFF;
		background: transparent;
		border: solid 2px #FFF;
		opacity: 0.4;
		@include shadow-level(-1);
		&:hover{
			background: red;
			color: #FFF;
			opacity: 1;
			@include shadow-level(2);
			border-color: $grey
		}
	}
}
 
input, select, textarea{
	color: $navbg;
	background: #FFF;
	border: solid 2px light-grey;
	border-radius: 2px;
	font-weight: 800;
	width: 100%;
	padding: 6px 10px;
	margin-bottom: 10px;
	&.static-input{
		border: none;
		background: transparent;
	}
 }

.list-group{
	list-style: none;
	padding: 0;
}
   
.panel-body{
	.form-group{
		lost-column: 1/2;
	}
}

.fa-close{
	cursor: pointer;
	float: right;
	&:hover{
		color: $red;
	}
}

.charts{
	width: 100%;
	@include card(1);
	#chart1, #chart2{
		width: 100%;
		svg{
			width:100%;
		}
	}
}

.license{
	margin: 20px;
	padding-left: 30px;
	padding-right: 30px;
	h3, h4{
		text-align:center;
	}
	a{
		text-decoration: none;
		font-weight: bolder;
		color: $navbg;
	}
	@media screen and (max-width: $small) {
		margin: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
}