<template name="Nav">
    <nav class="nav">
    	<div class="menu-drop">
    		<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    	</div>
        <ul class="{{#if $.Session.get 'showMenu'}}show-menu{{/if}}">
            {{#if currentUser}}
            {{/if}}
            <li><a href="/about">About</a></li>
            {{#if currentUser}}
            <li><a href="/jobs/">Jobs</a></li>
            <li><a href="/">Account</a></li>
            {{/if}}
            {{> loginButtons}}
        </ul>
    </nav>
</template>